@tailwind base;
@tailwind components;
@tailwind utilities;




.custom-loader {
  width: 70px;
  height: 70px;
  background:
    radial-gradient(farthest-side,#766DF4 90%,#0000) center/16px 16px,
    radial-gradient(farthest-side,#6F6D91   90%,#0000) bottom/12px 12px;
  background-repeat: no-repeat;
  animation: s7 1s infinite linear;
  position: relative;
}
.custom-loader::before {    
  content:"";
  position: absolute;
  width:8px;
  height:8px;
  inset:auto 0 16px;
  margin: auto;
  background:#E4E4ED;
  border-radius: 50%;
  transform-origin: 50% calc(100% + 10px);
  animation:inherit;
  animation-duration: 0.5s;
}


@keyframes s7 { 
  100%{transform: rotate(1turn)}
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


